.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 10px solid transparent;
    border-top-color: hsl(300, 100%, 50%);
    border-bottom-color: hsl(300, 100%, 50%);
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1s linear infinite;
  }
  
  @keyframes girar{
    from{
      transform: rotate(0deg);
      
    }
    to{
      transform: rotate(360deg);    
    }
  }